
html, body
{
	margin: 0;
}

.drawer
{
	background-color: #eee;
	width: 250px;
	height: 1000px;
	padding: 40px;
	color: #aaa;
	float: left;
}

.content
{
	width: calc(100% - 250px);
	height: 1000px;
	padding: 50px;
	float: left;
}