<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Dashboard</title>
<link type="text/css" rel="stylesheet" href="css/dashboard.css" />   
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">  
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
       
</head>
<body>
<div class="drawer">
	<div><a href="/dashboard">Account Summary</a></div>
	<div><a href="/dashboard">Settings</a></div>
	<div><a href="/dashboard">Logout</a></div>
</div>
<div class="content">
	<div>
		<div style="font-size:20px;font-weight:bold;">Good afternoon, <span th:text="${user.username}"></span></div>
		<div style="font-size:30px;font-weight:bold;">Your PayTill Account No. is: #<span th:text="${5337543855L - user.userId}"></span></div>
		<div>Account Balance: $<span th:text="${user.defaultCurrency}"></span><span th:text="${user.credit}"></span></div>
		<div>
			<a href="/dashboard">Deposit</a>
			<a href="/dashboard">Transfer to Bank</a>
			<a href="/dashboard">View Transaction History</a>
		</div>
	</div>
</div>

		<form method="POST" action="/dashboard">
			<img class="logo" src="assets/PayTill.png" alt="logo" /> &trade;
			<input type="text" th:field="${user.userId}" name="userId" />
			<div>
				<input type="submit" class="button" id="button" value="LOG" />
			</div>
		</form>
</body>
</html>